.Persik {
  display: block;
  width: 30%;
  max-width: 240px;
  margin: 20px auto;
}

.one {
  margin-top: 10%;
}

#greeting {
  text-align: center;
}

.StartScreen {
  display: flex;
  flex-direction: column;
}

#goto, #goto2 {
  height: 50px;
  width: 80%;
  background-color: #231f1e;
  color: #fff;
  border-radius: 20px;
  font-size: larger;
}

.radio {
  display: flex;
  flex-flow: column;
  margin-left: 38%;
}

.answer {
  width: 50%;
  color: #231f1e;
}